
.forums, .topics, .replies {
    margin-bottom: 5px;
}

/*
 * Index
 */
.forums .forums-header, .forums .forum {
    clear: both;
    overflow: auto;	
    border: solid 1px #CCC;
    margin: 4px 0 4px 0px;
}
	
.forums .forums-header > div {
    float: left;
    background: #EAEAEA;
    padding: 1em;
}

.forums .forum > div {
    float: left;
    padding: 1em;
}

.forums .forum-title {
	width: 43%;
    text-align: left;
}

.forums .forum-posts {
	width: 12%;
    text-align: center;
}

.forums .forum-replies {
    width: 12%;
    text-align: center;
}

.forums .forum-last-post {
    width: 33%;
    text-align: center;
}

/*
 * Forum
 */
.forums .topic-header {
	clear: both;
}

.forums .topic-header > div {
    float: left;
    background: #EAEAEA;
    height: 3em;
    padding: 1em;
}

.forums .topic-header .topic-title, 
.forums .topic .topic-title {
    width: 65%;
    text-align: left;
}

.forums .topic-header .topic-replies, 
.forums .topic .topic-replies {
    width: 12%;
    text-align: center;
}

.forums .topic-header .topic-last-post, 
.forums .topic .topic-last-post {
    width: 23%;
    text-align: center;
}

.forums .topic-body .topic {
    overflow: auto;
}

.forums .topic-body .topic > div {
	float: left;
}

.forums .topic-body {
    clear: both;
    font-size: 0.8em;
/*     line-height: 0.8em; */
    overflow: auto;
}

.forums .topic-body .topic {
    clear: both;
    padding: 1em;
    border: solid 1px #CCC;
    margin: 4px 0 4px 0px;
}

.forums .topic-body .closed,
.forums .topic-body .closed a {
    color: rgb(204, 204, 204);
}

.forums .topic-footer {
	background: #EAEAEA;
    height: 3em;
    padding: 1em;
}

/*
 * Topic
 */
.discussion .topic {
	clear: both;
/*     border: solid 1px #CCC; */
/*     margin: 4px 0 4px 0px; */
}

.discussion .topic .topic-header {
	background: #EAEAEA;
    height: 3em;
    padding: 1em;
    border: solid 1px #CCC;
    margin: 4px 0 4px 0px;
}

.discussion .topic .topic-body {
    background: rgba(238, 238, 238, 0.3);
    padding: 1em;
    border: solid 1px #CCC;
    margin: 4px 0 4px 0px;
}

.discussion .topic .topic-body .author,
.discussion .topic .topic-body .body,
.discussion .reply .reply-body .author,
.discussion .reply .reply-body .body {
    display: inline-block;
}

.discussion .topic .topic-body .author,
.discussion .reply .reply-body .author {
	width: 20%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    border-right: solid #DDD;
    margin-right: 2px;	
}

.discussion .topic .topic-body .body,
.discussion .reply .reply-body .body {
	width: 79%;
	height: 100%;
}

.discussion .reply {
    clear: both;
/*     border: solid 1px #CCC; */
/*     margin: 4px 0 4px 0px; */
}

.discussion .reply .reply-header {
    background: #EAEAEA;
    height: 3em;
    padding: 1em;
    border: solid 1px #CCC;
    margin: 4px 0 4px 0px;
}

.discussion .reply .reply-body {
    padding: 1em;
    border: solid 1px #CCC;
    margin: 4px 0 4px 0px;
}

/*
.discussion .topic-footer, 
.discussion .reply-footer {
    background: #EAEAEA;
    height: 3em;
    padding: 1em;
}
*/

/*
 * Avatars
 */
.forum-last-post .avatar, 
.topic-last-post .avatar {
	width: 18px;
	height: 18px;
}

.topic .author .avatar,
.reply .author .avatar {
    width: 80px;
    height: 80px;
}