# The site name and description for the forums section of your site 
boltbb:
  title: Sample Site Forums
  description: The place to talk about this site

# The forums you want to define
forums:
  general:
    title: General Forum
    description: A general forum for discussion
#  myforum:
#    title: My Forum
#    description: A forum to discuss the weather

# Maximum number of topics and/or replies to list on a page
pagercount: 10

# The base URI to use for the forums section of your site.  
# What you define here will create the URLs as: 
#   http://your-bolt-site.com/{base_uri}/
base_uri: forums

# The content types defined for BoltBB 
contenttypes:
  topics: topics
  replies: replies

# Local twig templates
#
# These can be overridden by files of the same path/name.twig in your theme, or 
# you can store them with the extension (beware this can be unexpectedly removed)
templates:
  parent: boltbb.twig
  forums:
    index: boltbb_index.twig
    forum: boltbb_forum.twig
    topic: boltbb_topic.twig
    all:   boltbb_all.twig
  email:
    subject: boltbb_email_subject.twig
    body:    boltbb_email_body.twig
  breadcrumbs: boltbb_breadcrumbs.twig


# Web assets
#
# If you are generating your own CSS, they should use '.custom.' in the file name
webassets:
  stylesheet: boltbb.min.css
  javascript: boltbb.min.js

notifications:
  from_address: noreply@example.com
  debug: true
  debug_address: me@example.com
  
# Enable CSRF protection for forms. You should leave this set to 'true', unless
# you know what you're doing.
csrf: true
