{% macro author(id, ip) %}
    {% set profile = clientprofile(id) %}
    {% if profile is not empty %}
        <div class="row text-center">
            <img src="{{ profile.avatar }}" alt="{{ profile.username }}" class="avatar">
        </div>
        <div class="row text-center">
            {{ profile.username }}
        </div>
    {% endif %}
    <div class="row text-center">{{ ip }}</div>
{% endmacro %}